<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="informatica.unipr.it.Prometheus">

    <!-- appusage -->
    <uses-permission
        android:name="android.permission.GET_TASKS"
        android:maxSdkVersion="21" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- broadcast receiver -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Facebook -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PromTheme"
        android:name=".analytics.AnalyticsHelper">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AppUsageService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="App Usage Service" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Location Service" />

        <receiver android:name=".receiver.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AppReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.melfab.prometheus" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AlarmServicesManager">
        </receiver>

        <activity android:name=".recyclerView.statisticsAdd.AddApplication" />
        <activity
            android:name=".login.FirstStartLoginActivity"
            android:label="@string/title_activity_firststartlogin" />
        <activity
            android:name=".notification.LockFullscreenActivity"
            android:label="@string/title_activity_lock_fullscreen" />
        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR API KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/PromTheme" />
        <activity
            android:name=".settings.GeneralSettingsActivity"
            android:theme="@style/PromTheme" />
        <activity
            android:name=".settings.ThemeSettingsActivity"
            android:theme="@style/PromTheme" />
        <activity
            android:name=".settings.PermissionsSettingsActivity"
            android:theme="@style/PromTheme" />
        <activity
            android:name=".settings.AdvancedSettingsActivity"
            android:theme="@style/PromTheme" />
        <activity android:name=".settings.LocationSettingsActivity" />
        <activity android:name=".tutorial.TutorialActivity" android:screenOrientation="portrait"></activity>


    </application>


</manifest>
